body{background-image:url("gifi.gif");
}

h1{background-color:silver;
 text-shadow: 2px 2px 4px #000000;
 text-align:center;
  }
  h2,h3{color:silver;
  text-shadow: 2px 2px 4px #000000;
padding:10px;
 margin:10px;
 font-size:18px;
 font-family:arial,helvtica,sens-serfi;
 text-decoration: underline silver;
 text-transform: uppercase;}  
 
 p{color:silver;
  text-shadow: 2px 2px 4px #000000;
padding:10px;
 margin:10px;
 font-size:21px;
 text-transform: uppercase;}  
#vd{position:relative;
right:1050px;
top:15px;
border: white;}

#mdw{position:relative;
right: 6px;
top: 30px;
color:white;}
